//widescreen
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

//Dekstops & Laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

//Tablets
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1 rem;
        }
    }

    ul.menu-nav,
    div.menu-brading {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        margin-left: 38%;
        height: 205px;
        width: 205px;
        transform: translate3d(100%, 0, 0);
    }

    .about-info {
        grid-template-areas:
            'bioimage'
            'bio'
            'job1'
            'job2'
            'job3';

        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

//Smartphone
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
        font-size: 2.5rem;
    }

    main#home h2 {
        font-size: 1rem;
    }

    .menu-nav {
        height: 75vh;
        font-size: 1rem;
    }

    .menu-branding {
        height: 25vh;
        margin: 0 25%; // 0 90px
        height: 205px;
        width: 205px;
    }

    .projects {
        grid-template-columns: 1fr;
    }
}